@import "./styles/vars.css";
@import "./styles/Home.css";
@import "./styles/Projects.css";
@import "./styles/Contact.css";

*{
  font-family: var(--font);
}

body{
  background: var(--color-body);
}

footer{
  background: var(--color-header);
  height: 10%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

span{
  margin: 1%;
  color: var(--color-font);
  font-size: 250%;
  text-align: center;
}

.tit{
  margin: 1%;
  color: var(--color-font);
  font-size: 300%;
  text-align: center;
}
