@import "tailwindcss";

@font-face {
  font-family:'Feelin Teachy';
  src: url('/src/fonts/Feelin_Teachy.woff2') format('woff2')
}

*{
  font-family: 'Feelin Teachy';
  letter-spacing: 1px;
}

body {
  background-color: black;
  color: white;
}

img{
  border-radius: 30%;
}
